body {
  padding-top: 70px;
}
body div.headar {
  padding-bottom: 20px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
form.form-inline div.form-group {
  margin-right: 10px;
}
a.thumbnail.plain {
  height: 270px;
  width: 234px;
}
a.thumbnail.plain img {
  height: 150px;
  width: 125px;
}
div.col-md-6.image-container img {
  height: 500px;
  widht: 396px;
}
div.img {
  margin-left: 100px;
  margin-top: 70px;
}
