.container
   div.headar
      img.img-responsive.img-rounded(src="http://www.img-share.eu/f/images/53/logoEtJSiYc.jpg")

     .row
        .col-md-12
           .panel.panel-default
              .panel-heading.text-center Последно издадени книги или предстоящи да се издадат!
              .panel-body.text-center(ng-include="'partial/main/News'")